/* body { */
  /* background: url("https://i.ibb.co/zXG1ppG/profile.jpg") no-repeat center center fixed;
  background-size: cover; */
  /* Additional styling properties */
/* } */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-content {
  flex: 1;
  height: 100vh;
  /* background-image: url("https://i.ibb.co/zXG1ppG/profile.jpg"); */
}


.home-header h1 {
    color: #494949;
    font-size: 5em;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 0%;
}

.main-name {
    color: #d1d1d1;
}


.dynamic-typing {
  text-align: center;
  padding-top: 0;
  padding-bottom: 3%;
}

.Typewriter__wrapper {
    font-size: 2.8em;
    color: #ffcf3e;
    font-weight: 600;
    margin-bottom: 200px;

}
.Typewriter__cursor {
    font-size: 2.4em;
    color: #f5f5f5;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.card-header .card-body {
    margin: auto;
    display: flex;
    justify-content: center;

}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: auto;
  }

.header-icons{
    display: flex;
    justify-content: center;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    padding-bottom: 17%;
}


  .header-icons {
    display: flex;
    justify-content: center;
  }

  .down-arrow-container {
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .down-arrow {
    font-size: 5em;
    color: white;
  }
  
  .circle-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s; 
    margin-right: 15px;
    padding: 0px;
  }
  
  .circle-link:hover {
    background-color: #ffffff;
  }
  
  .circle-link:hover .link-icon {
    color: #3d5879; /* Replace "red" with your desired color */
  }
  
  .link-icon {
    color: #ffffff;
    transition: color 0.3s; /* Add transition for color property */
  }
  
  .scroll-to {
    padding-bottom: 50px;
  }


  @keyframes bob {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      color: blue;
    }
    100% {
      transform: translateY(0);
      color: red;
    }
  }

  .bobbing-icon {
    size: 200px;
    animation: bob 2s infinite;
    transition: color 0.3s;
  }
